nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-image: linear-gradient(180deg, #C8D3D5, #6E8387);
}


nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.navLogoImg, .navUsrImg {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
}

.navLogoImg:hover, .navUsrImg:hover {
    filter: brightness(125%);
}


/* Left side of the nav */

.left_nav > button {
    margin: 0px 3px;
}

.left-nav-buttons {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}


/* Right side of the nav */

.visit-options {
    display: flex;
    flex-direction: row;
}

.right_nav > button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
}

.blankSpace {
    margin: 5px;
}

.navButton {
    background-color: #A4B8C4;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}

.navButton:hover {
    filter: brightness(125%);
}

.navButton:active {
    filter: brightness(80%);
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

.searchBox {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.searchBox > .formButton {
    width: auto;
}


/* Style for small screens */

@media screen and (max-width: 800px) {
    .admin-button {
        display: none;
    }

    .left-nav-buttons {
        flex-direction: column;
    }

    .left-nav-buttons > .blankSpace {
        display: none;
    }

    .visit-options {
        flex-direction: column;
    }

    .visit-options > .blankSpace {
        display: none;
    }
    
    .searchBar {
        width: 100%; /* Fai sì che la searchBar occupi tutta la larghezza disponibile */
        margin-bottom: 5px; /* Aggiungi uno spazio tra la searchBar e il pulsante di ricerca */
    }

    .formButton {
        width: 100%; /* Fai sì che il pulsante di ricerca occupi tutta la larghezza disponibile */
    }
}

@media screen and (max-width: 550px) {
    .navLogoImg, .navUsrImg {
        margin: 10px 5px;
    }
    
    .navButton, .formButton {
        font-size: 13px;
    }
}

@media screen and (max-width: 475px) {
    .navUsrImg {
        display: none;
    }
}