/* CSS file only for Personal Area */

/* Container for main */

.main_personalarea {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.main_personalarea::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/~S5311626/images/homeBackGround.jpg");
    filter: blur(16px);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Containers for columns */

.left_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 2px solid black;
    border-radius: 10px;

    background-color: white;
}

.right_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 2px solid black;
    border-radius: 10px;

    background-color: white;
}


/* Elements of left_column */

.pfp {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

.infos > p {
    margin: 3px;
}

.personalAreaOptions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
}

i.fa-square-envelope {
    margin-left: 5px;
    margin-right: 5px;
}

/* Elements of Right Column */

.right_column > p {
    margin: 4px;
}

/* Buttons */

.personalAreaButton {
    background-color: #A4B8C4;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    
    width: 100%;
    height: 35px;
    white-space: nowrap;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.personalAreaButton:hover {
    filter: brightness(125%);
}

.personalAreaButton:active {
    filter: brightness(80%);
}


/* Style for small screens */

@media screen and (max-width: 800px) {
    .main_personalarea {
        align-items: center;
        flex-direction: column;
    }

    .left_column {
        width: 65%;
    }

    .right_column {
        width: 50%;
        white-space: nowrap;
    }
}

@media screen and (max-width: 400px) {
    .fa-square-envelope {
        font-size: 15px;
    }

    .personalAreaButton {
        font-size: 14px;
    }
}