/* CSS file only for Personal Area */

.main_personalarea {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-grow: 1;
}

#left_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    height: auto;

    border: 5px solid purple;
    border-radius: 10px;
}

#right_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
    height: auto;

    border: 5px solid purple;
    border-radius: 10px;
}

.pfp {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid black;
    border-radius: 10px;
}

.infos > p {
    margin: 3px;
}

.list_of_badges {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid black;
    border-radius: 10px;
}

.list_of_badges > p {
    margin: 3px;
}

.first_section {
    display: flex;
    width: 100%;
    height: auto;

    border: 5px solid black;
    border-radius: 10px;
}

.top_badges {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
    text-align: center;

    border: 5px solid purple;
    border-radius: 10px;
}

.top_badges > p {
    margin: auto;
}

.top_sponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    height: auto;
    text-align: center;

    border: 5px solid purple;
    border-radius: 10px;
}

.top_repos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: auto;
    text-align: center;

    border: 5px solid black;
    border-radius: 10px;
}

.second_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;

    border: 5px solid black;
    border-radius: 10px;
}