/* CSS file only for Personal Area */

/* Container for main */

.main_personalarea {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-grow: 1;
}


/* Containers for columns */

.left_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18%;
    height: auto;

    border: 5px solid purple;
    border-radius: 10px;
}

.right_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 82%;
    height: auto;

    border: 5px solid purple;
    border-radius: 10px;
}


/* Elements of left_column */

.pfp {
    width: 128px;
    height: 128px;
    border-radius: 100%;
    margin: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos > p {
    margin: 3px;
}

.personalAreaOptions {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
}


/* Buttons */

.personalAreaButton {
    background-color: #A4B8C4;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    
    width: 100%;
    height: 35px;
    white-space: nowrap;    

    display: flex;
    justify-content: center;
    align-items: center;
}

.personalAreaButton:hover {
    filter: brightness(125%);
}

.personalAreaButton:active {
    filter: brightness(80%);
}


/* Style for small screens */

@media screen and (max-width: 800px) {
    .main_personalarea {
        align-items: center;
        flex-direction: column;
    }

    .left_column {
        width: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border: 2px solid black;
        border-radius: 10px;
    }

    .right_column {
        width: 50%;
        white-space: nowrap;
    }
}