/* Html/Body Data */

html, body {
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}



/* Nav Data */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    
    /* Dovrà essere cambiato */
    background-color: black;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;    
}

.navLogo {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
}

.navLogo:hover {
    filter: brightness(125%);
}

.left_nav > button {
    margin: 0px 3px;
}

.right_nav > button {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 100%;
}





/* general */

.main_container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    /*border-inline: 20px solid black;*/
}

.main_container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/SAW/SAWFinalProject/images/homeBackGround.jpg");
    filter: blur(4px);
    z-index: -1; /* Assicurati che il pseudo-elemento sia dietro agli altri contenuti */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main_container, .main_container::before {
    margin: -8px;
}

/*
.bg-image {
    background-image: url("../images/homeBackGround.jpg");
    filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.column {
    height: auto;
    width: 33.4%;
    padding: 10px;
}

fieldset {
    background-color: #f2f2f2;
    border: 1px solid #000000;
    text-align: center;
    margin: auto;
    width: 50%;
    columns: 100px;
    column-gap: normal;
}

/* first column */

.column > img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* second column */

.second_column > p {
    text-align: center;
}


/* third column */

.register_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin: auto;
    width: auto;
    border: 3px solid black;    
    border-radius: 10px;
    padding: 10px;
    background-color: #FCFAFA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_box {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    padding: 3px;
    margin: 3px;
}

.inputBox {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.formButton, .navButton {
    background-color: #A4B8C4;
    padding: 6px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.formButton:hover {
    filter: brightness(125%);
}

.navButton:hover {
    filter: brightness(125%);
}



/* Footer Data */

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}





/* PERSONAL AREA */

.main_personalarea {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

#left_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;

    border: 5px solid black;
    border-radius: 10px;
}

#right_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: auto;

    border: 5px solid black;
    border-radius: 10px;
}