.dataTables_wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;

    overflow-x: auto;
    max-width: 100%;
}   

table.dataTable {
    border-radius: 10px;
    border-spacing: 0;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table.dataTable td, table.dataTable th {
    border: 1px solid black;
    border-top: none;
    border-left: none;
}

table.dataTable tr:first-child th {
    border-top: 1px solid black;
}

table.dataTable td:first-child, table.dataTable th:first-child {
    border-left: 1px solid black;
}

caption {
    font-weight: bolder;
    font-size: large;
    background-color: lightgray;
    padding: 10px;
}

th {
    font-weight: bold;
    background-color: white;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}


/* Common data */

td, th {
    border-right: 1px solid gray;
    text-align: center;
    padding: 5px;
}

td:last-child, th:last-child {
    border-right: none;
}

.emptyButton {
    color: rgb(112, 112, 112);
}

/* JQuery Datatables style */

.dataTables_filter input, .dataTables_length select {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollHeadInner table {
    background-color: #f2f2f2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_info {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    border: 1px solid #ccc;
    background-color: #333;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background-image: linear-gradient(180deg, #C8D3D5, #6E8387);
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
    filter: brightness(125%);
}



/* Data for smaller screens */

@media screen and (max-width: 800px){
    td {
        font-size: 14px;
    }

    th {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    th {
        font-size: 14px;
    }
}