.tableContainer {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

caption {
    font-weight: bolder;
    font-size: large;
    background-color: lightgray;
    padding: 10px;
}

th {
    font-weight: bold;
    background-color: white;
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}


/* Common data */

td, th {
    border-right: 1px solid gray;
}

td:last-child, th:last-child {
    border-right: none;
}

table, td, th {
    padding: 5px;
    text-align: center;
}


/* JQuery Datatables style */

.dataTables_filter input {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
}

.dataTables_length select {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0;
}

.dataTables_wrapper .dataTables_scroll .dataTables_scrollHeadInner table {
    background-color: #f2f2f2;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px 10px;
    margin-right: 5px;
}

.dataTables_wrapper .dataTables_info {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff;
    border: 1px solid #ccc;
    background-color: #333;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
    background-image: linear-gradient(180deg, #C8D3D5, #6E8387);
}