table {
    border-collapse: collapse;
}

caption {
    padding: 15px;
    font-size: 30px;
    font-weight: bolder;
    background-color: bisque;
}

th {
    font-weight: bold;
    background-color: beige;
}

.evenRow {
    background-color: white;
}

.oddRow {
    background-color: lightgray;
}


/* Common data */

td, th {
    border: 1px solid black;
}

table, td, th {
    padding: 5px;
    text-align: center;
}

table, caption {
    border: 2px solid black;
}